<div  class=" container-fluid text-white">
  <h1>create a new project</h1>
  <hr>
  <br>
  

  <form action="/blog/new" method="post">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="title">title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="projects title">
      </div>
      <div class="form-group col-md-6">
        <label for="image">image</label>
        <input type="text" name="image" class="form-control" id="image"placeholder="projects iamge url">
      </div>
    </div>
    <div class="form-group">
      <label for="description">description</label>
      <textarea class="form-control" id="inputAddress" placeholder="description" name="description" rows="5"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">submit</button>
  </form>
</div>