<div class="container">
<br><br>
<br>
<h1 class="text-white">{{title}}</h1>
<p class="text-white">Welcome to {{user.name}}</p>
<hr>
<div class="row ">
    <div class="col-md-3 alert-success w-100 " style="height: 150px; background-color:black;">
        <h2 class="text-white">Projects</h2>
        <h3 class="text-white">10</h3>
        <a class="text-white" href="/projects">View all</a>
    </div>
    
    <div class="col-md-3 bg-primary ">
        <h2 class="text-white">Blog Posts</h2>
        <h3 class="text-white">10</h3>
        <a class="text-white" href="blog">View all</a>
    </div>
    <div class="col-md-3 bg-warning">
        <h2 class="text-white">Contacts</h2>
        <h3 class="text-white">10</h3>
        <a class="text-white" href="/contact">View all</a>
    </div>
    <div class="col-md-3 bg-danger">
        <h2 class="text-white">subscribe</h2>
        <h3 class="text-white">100</h3>
        <a class="text-white" href="/newsletters">View all</a>
    </div>


</div>
</div>


